
  <%= render 'form' %>
    <div class="text-center edit-links">
      <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    |
    <%= link_to "Cancel", posts_path %>
   </div>
  

