<!DOCTYPE html>
<html>
<nav class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%= link_to "Pictogram", root_path %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
  		<% if user_signed_in? %>

   		<li>
     		 <%= link_to "New Post", new_post_path %>
    	</li>
    	<li>
    		  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
   		</li>

  		<% else %>
    	<li>
      		  <%= link_to "Login", new_user_session_path %>
    	</li>
    	<li>
    		  <%= link_to "Register", new_user_registration_path %>
   		 </li>

  		<% end %>
	  </ul>
    </div>
  </div>
</nav>

<head>
  <title>Pictogram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>
  <%= yield %>
</div>


</body>
</html>

